.card {
  background-color: hsla(0, 0%, 100%, 0.436);
  border: 1px solid black;
  height: 250px;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.card:hover {
  transform: scale(1.05);
}
.card:hover .poster {
  opacity: 0.4;
}
.add-btn {
  background-color: transparent;
  color: var(--red-color);
  border: none;
  position: absolute;
  top: -210%;
  right: 10%;
  opacity: 0;
  font-size: 2rem;
  transition: opacity 0.7s ease;
}
.card:hover .add-btn {
  opacity: 1;
  cursor: pointer;
}
.info {
  position: absolute;
  top: 73%;
  padding: 0 10px;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.title {
  font-size: 1.1rem;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
}

.year {
  font-size: 1rem;
  color: var(--main-color);
}

.logos {
  position: absolute;
  width: 20px;
  top: 5%;
  left: 2%;
}
