.carouselCont {
  transform: translateY(-40px);
  height: calc(100vh - 50px);
  width: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
}
.slideImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slide {
  min-width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
}
.slide.active {
  opacity: 1;
}
.slideInfo {
  position: absolute;
  top: 0%;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.5) 70%,
      rgba(0, 0, 0, 0)
    ),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.3) 50%,
      rgba(0, 0, 0, 0)
    );
  padding: 20px;
  height: 100%;
  width: 100%;
}
.text {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20%;
  left: 10%;
  width: 70%;
}
p {
  color: var(--main-color);
  font-size: 0.6rem;
}
.logoSlide {
  width: 13px;
}
.logoCont {
  display: flex;
  align-items: center;
  gap: 2px;
}
.series {
  color: var(--main-color);
  font-size: 0.45rem;
  letter-spacing: 1px;
}
h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  font-size: 1.3rem;
}

.play {
  display: flex;
  align-items: center;
  gap: 3px;
  border: none;
  font-weight: 600;
  padding: 4px 10px;
  font-size: 0.6rem;
  border-radius: 2px;
  z-index: 3;
  transition: background-color 0.3s ease;
}
.play:hover {
  background-color: rgba(255, 255, 255, 0.405);
  color: whitesmoke;
}
.play img {
  width: 10px;
}
.slidesWrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.carouselBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background: none;
  color: var(--main-color);
  border: none;
  font-size: 0.7rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.carouselBtn:hover {
  transform: translateY(-50%) scale(1.2);
}

.carouselBtn.left {
  left: 5px;
}

.carouselBtn.right {
  right: 5px;
}

.overview {
  max-width: 250px;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 0.5px;
}

.slideBtns {
  display: flex;
  align-items: center;
  gap: 3px;
}
.addList {
  border: none;
  font-weight: 500;
  padding: 4px 10px;
  font-size: 0.6rem;
  background-color: gray;
  color: white;
  border-radius: 2px;
  z-index: 3;
  transition: background-color 0.3s ease-in-out;
}
.addList:hover {
  background-color: rgba(111, 108, 108, 0.504);
}

.pgRating {
  color: var(--main-color);
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 0.7rem;
  padding: 4px 15px;
  text-align: center;
  border-left: 2px solid var(--red-color);
  width: 40px;
  margin-left: auto;
  margin-right: 20px;
  margin-top: 300px;
}
