.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  position: fixed;
  top: 0;
  z-index: 4;
  transition: background-color 0.3s ease;
  height: 30px;
}
.scrolled{
  background-color: black;
}
.cont1 {
  display: flex;
  gap: 10px;
}

.logo {
  width: 80px;
  margin-left: 20px;
  transition: transform 0.3s ease;
}
.logo:hover {
  animation: grow 2s ease-out;
}
@keyframes grow {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.li {
  color: var(--main-color);
  list-style: none;
  font-size: 0.60rem;
  font-weight: 100;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.li:hover {
  color: white;
  transform: scale(1.1);
}
.search {
  width: 20px;
  margin-right: 50px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.search:hover {
  transform: scale(1.1);
}
.cont2 {
  display: flex;
  align-items: center;
  gap: 5px;
}

input {
  background-color: black;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  padding: 5px 10px;
  color: var(--main-color);
  outline: none;
  font-size: 0.6rem;
  max-width: 100%;
  margin-left: 10px;
}
.wrapper {
  position: relative;
}
input::placeholder {
  color: var(--main-color);
  font-size: 0.6rem;
}
.searchForm {
  display: flex;
  align-items: center;
  margin-right: 30px;
  gap: 5px;
}
.send {
  width: 15px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.sendBtn {
  background-color: black;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease, border 0.3s ease;
}
.sendBtn:hover {
  border: 1px solid var(--red-color);
  transform: scale(1.1);
}

.closeIcon {
  width: 12px;
  cursor: pointer;
  position: absolute;
  right: 3%;
  top: 25%;
  transition: transform 0.3s ease;
}
.closeIcon:hover {
  transform: scale(1.2);
}
@media screen and (max-width: 450px) {
  ul {
    display: none;
  }
  .logo {
    width: 70px;
    margin-left: 25px;
  }
  .search {
    width: 20px;
    margin-right: 20px;
  }
  nav {
    padding: 10px;
  }
  input{
    font-size: 0.45rem;
  }
  input::placeholder {
    font-size: 0.45rem;
  }
  .closeIcon{
    width: 10px;
    top: 32%;
  }
  .send{
    width: 12px;
    padding: 0.5px;
  }
}
.cont3 {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.signIn {
  background-color: var(--red-color);
  color: white;
  border: none;
  border-radius: 3px;
  padding: 4px 8px;
  margin-right: 10px;
  font-size: 0.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.signIn:hover {
  background-color: #e50914cc;
}

.activeBar{
  color: white;
  text-decoration: underline;
}

