.searchContainer {
  width: 100%;
  max-width: 900px;
  margin: 70px auto;
  padding: 0 20px;
  box-sizing: border-box;
  margin-top: 150px;
}

.searchForm {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 20px;
  max-width: 600px;
  margin: 20px auto; 
  
}
.searchForm input::placeholder {
  font-size: 1.5rem;
}

.searchInput {
  flex: 1;
  padding: 10px 15px;
  border-radius: 6px;
  border: 1px solid #444;
  background-color: #141414;
  color: #fff;
  font-size: 1.5rem;
}

.searchButton {
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  background-color: #e50914;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: back-ground 0.2s ease;
  font-size: 1.5rem;
}

.searchButton:hover {
  background-color: #f40612;
}

.noMatches{
    padding-left: 20px;
    font-size: 0.8rem;
}


@media (max-width: 450px) {
  .searchForm{
    width: 90%;
  }
  .searchInput{
    font-size: 0.6rem;
    padding: 10px;
  }
  .searchButton{
    padding: 10px;
    margin-right: 10px;
  }
}
