:root {
  --main-color: rgba(255, 255, 255, 0.693);
  --red-color: #ff0c19;
}

body {
  background-color: black;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
